.basics {
	width: 100%;
	padding-top: 22%;
	position: relative;
	height: 100vh;
	background: url(../img/ice@1x.jpg) no-repeat;
	background-size: 100% 100%;
	@media (min-resolution: $retina-dpi), (max-resolution: $retina-dppx) {
    background: url(../img/ice@2x.jpg) no-repeat top center;
		background-size: 100% 100%;
  }
	&__title {
		width: 460px;
		margin: 0 auto;
		font-family: "GothamProLight", Arial, sans-serif;
		@include font(50px, 65px, 100);
		color: #fff;
    text-align: center;
	}
}
