$font-stack: "GothamPro", "Arial", sans-serif;
$second-font: "Lato", "Arial", sans-serif;
$black: #000;
$black-font: #232323;
$blue-font: #0d319c;
$blue: #182c3d;
$white: #ffffff;
$grey-font: #5e5e5e;
$orange: #f78b1f;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
